@import "../styles/variables";

.taskTableContainer {
	max-width: 1200px;
	margin: 2rem auto;
	box-sizing: border-box;

	@include respond(980px) {
		width: 100%;
		overflow-x: auto;
		display: block;
		padding: 0.5rem;
	}

	.taskTable {
		width: 100%;
		border-collapse: collapse;
		font-size: 1rem;
		table-layout: fixed;
	
		@include respond(980px) {
			width: 100%;
			border-spacing: 0;
	
			thead {
				display: none;
			}
		}
	
		tr {
			color: $tableRowColor;
	
			&:nth-child(even) {
				background-color: $tableRowBg;
			}
	
			@include respond(980px) {
				display: block;
				padding: 0.5rem;
				margin-bottom: 1.5em;
				box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
				
				&:nth-child(even) {
					background-color: white;
				}
			}
	  
			th,
			td {
				padding: 0.5rem;
				text-align: left;
				border: 1px solid $tableBorderColor;
				word-wrap:break-word
			}
		
			th {
				background-color: $tableHeaderBg;
				color: white;
				font-weight: 600;
			}
	
			td {
				@include respond(980px) {
					display: block;
					text-align: right;
					padding: 10px;
					min-height: 20px;
					border: none;
	
					&::before {
						content: attr(data-label);
						float: left;
						text-transform: uppercase;
						font-weight: bold;
					}
				}
	
				.actionButtons {
					display: flex;
	
					@include respond(980px) {
						flex-direction: column;
						align-items: end;
					}
			
					.btn {
						padding: 0.5rem 1rem;
						border-radius: 5px;
						border: none;
						margin-right: 0.5rem;
						cursor: pointer;
						text-align: center;
						text-decoration: none;
				
						&.btnPrimary {
							background-color: $primaryColor;
							color: white;
					
							&:hover {
								background-color: darken($primaryColor, 20%);
							}
						}
					
						&.btnDanger {
							background-color: $dangerColor;
							color: white;
					
							&:hover {
								background-color: darken($dangerColor, 20%);
							}
						}

						@include respond(980px) {
							width: 50px;
							margin-bottom: 0.5rem;
						}
 					}

					.icons {
						cursor: pointer;
						transition: color 0.3s ease;
						padding: 1rem;

						&.editIcon {
							color: #009efd;
						
							&:hover {
								color: darken(#009efd, 20%);
							}
						}

						&.trashIcon {
							color: #ff4757;
						
							&:hover {
								color: darken(#ff4757, 20%);
							}
						}
					}
				}
			}
		}
	}
}
  