@use "sass:color";
@use "../styles/variables" as *;

.tasksContainer {
	font-family: $fontFamily;
	box-sizing: border-box;
	padding: 1.5rem;
	max-width: 1200px;
	margin: 0 auto;

	@include respond(980px) {
		padding: 1rem;
	}

	h1 {
		text-align: center;
		margin-bottom: 1rem;
		font-size: 2.5rem;
		font-weight: 700;
		color: $primaryColor;
	}

	.btnPrimary {
		display: inline-block;
		background-color: $primaryColor;
		color: white;
		padding: 0.75rem 1.5rem;
		border-radius: 5px;
		border: none;
		margin-bottom: 1.5rem;
		text-decoration: none;
		font-size: 1rem;
		transition: background-color 0.3s ease;
	
		&:hover {
		  	background-color: color.adjust($primaryColor, $lightness: -10%);
		}
	}

	.searchFilterSection {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 2rem;
		gap: 1rem;

		@include respond(980px) {
			flex-direction: column;
			align-items: stretch;
		}

		.searchContainer {
			display: flex;
			flex: 2;

			.searchBar {
				flex: 1;
				padding: 0.5rem;
				border: 1px solid #ccc;
				border-radius: 5px 0 0 5px;
				font-size: 1rem;
				min-width: 0; // Prevent flex item from overflowing
			}

			.searchButton {
				background-color: $primaryColor;
				color: white;
				border: none;
				border-radius: 0 5px 5px 0;
				padding: 0.5rem 1rem;
				cursor: pointer;
				transition: background-color 0.3s ease;

				&:hover {
					background-color: color.adjust($primaryColor, $lightness: -10%);
				}
			}
		}
		
		.filterDropdown {
			flex: 1;
			padding: 0.5rem;
			border: 1px solid #ccc;
			border-radius: 5px;
			font-size: 1rem;
			background-color: white;
			cursor: pointer;

			&:focus {
				outline: none;
				border-color: $primaryColor;
			}
		}
	}

	.taskTable {
		margin-bottom: 1.5rem;
	}

	.loadingMore {
		text-align: center;
		padding: 1rem 0;
		font-size: 1rem;
		color: $primaryColor;
	}

	.loadMoreButton {
		display: block;
		margin: 1rem auto;
		padding: 0.75rem 1.5rem;
		background-color: $primaryColor;
		color: white;
		border: none;
		border-radius: 5px;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.3s ease;

		&:hover:not(:disabled) {
			background-color: color.adjust($primaryColor, $lightness: -10%);
		}

		&:disabled {
			background-color: #ccc;
			cursor: not-allowed;
		}
	}
}