@import "../../styles/variables";

.navbar {
	background-color: $primaryColor;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 1rem 0;

	.navbarContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;

		.navbarLogo {
			color: white;
			font-size: 1.5rem;
			font-weight: bold;
			text-decoration: none;
		}

		.navbarLinks {
			display: flex;
			align-items: center;
			list-style-type: none;

			.navbarLink {
				color: white;
				text-decoration: none;
				margin-left: 2rem;
				font-size: 1.2rem;
				cursor: pointer;
			
				&:hover {
					text-decoration: underline;
				}

				&.btn {
					padding: 0.5rem 1rem;
					border-radius: 5px;
					border: none;
					margin-right: 0.5rem;
					cursor: pointer;
					text-align: center;
					text-decoration: none;
					background-color: #ddd;
					color: #333;

					&:hover {
						background-color: $dangerColor;
						color: white;
					}
				}
			}
		}
	}
}
